# Project exclude paths
/cmake-build-debug/
/CMakeLists.txt
/.idea/
/Lab1/main
/Lab2/main
/Lab3/main
/Lab4/main
/Lab5/main
/Lab6/main
/Lab7/main
/Lab8/main
/Lab9/main
/Lab10/main
/Example1/main
/Example1/main2
/Example2/main
